/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    line-height: 1.21875;
}
nav > div,
section,
footer > div {
    max-width: 1400px;
    margin: auto;
}
header {
    position: relative;
    padding: 8rem 2.5rem 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

#home-header {
    background: linear-gradient(
        90deg,
        #e9bcf2 7%,
        #f8b7c5,
        #fec49a,
        #ffd493,
        #ffedbe 80%,
        #fff7e0
    );
}

nav {
    position: fixed;
    width: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    height: 4rem;
}
.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}
#title {
    font-size: 1.25rem;
    font-weight: 800;
}

nav a {
    color: #070707;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #1aa4ea;
    text-decoration: none;
}

a:hover {
    color: #1aa4ea;
    text-decoration: underline;
    transition: color 0.3s;
}
a {
    color: rgb(10, 99, 189);
    text-decoration: none;
}

nav ul {
    display: none;
    list-style: none;
    margin-inline: 2rem;
    gap: 4rem;
    margin-left: 4rem;
}
h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}
h1 + p {
    font-weight: 300;
    font-size: 1rem;
    margin: 1rem 0 2rem;
}
#home-header > div {
    max-width: 40rem;
    margin: auto;
    position: relative;
    z-index: 2;
}
#searchbox-header {
    backdrop-filter: blur(10px);
    background-color: #ffffff2c;
    border-radius: 10rem;
    padding: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    max-height: 4rem;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    outline: transparent;
    border: #b6b6b6 solid 2px;
}
#home-header::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(
            50% 100%,
            circle,
            #d1f0bc 25%,
            rgba(209, 240, 188, 0) 55%
        ),
        -webkit-radial-gradient(at bottom left, #faf9fd 10%, rgba(
                        250,
                        249,
                        253,
                        0
                    )
                    30%),
        -webkit-radial-gradient(at bottom right, #fbfefa 25%, rgba(
                        251,
                        254,
                        250,
                        0
                    )
                    40%);
    background: radial-gradient(
            circle at 50% 100%,
            #d1f0bc 25%,
            rgba(209, 240, 188, 0) 55%
        ),
        radial-gradient(at bottom left, #faf9fd 10%, rgba(250, 249, 253, 0) 30%),
        radial-gradient(
            at bottom right,
            #fbfefa 25%,
            rgba(251, 254, 250, 0) 40%
        );
}
section {
    padding: 2rem 2.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.004em;
    margin-bottom: 2rem;
}

#issue {
    text-align: center;
}
#issues {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
#issues > a {
    line-height: 1.25;
    background: #d5f1f1;
    color: #000;
    text-decoration: none;
    padding: 0 1.5rem;
    height: 2em;
    display: inline-flex;
    border-radius: 1.5em;
    justify-content: center;
    align-items: center;
}
#news {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#news article {
    background-color: #fff;
    border-radius: 1rem;
    width: 303px;
    padding: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

#news .category {
    font-size: 0.75em;
    line-height: 1.3333733333;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #6e6e73;
}
#news h3 {
    font-size: 1.1875;
    font-weight: 700;
    letter-spacing: 0.012em;
}
#news .date {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #6e6e73;
    letter-spacing: 0.012em;
}
#daily {
    background-color: #ffffff;
    min-height: 600px;
    padding: 70px;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.01);
    border-radius: 1.875rem;
    position: relative;
    display: flex;
}
#daily > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#daily .small {
    font-size: 0.875rem;
    font-weight: 600;
    color: #6e6e73;
    letter-spacing: 0.012em;
    margin-bottom: 1rem;
}
#daily::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: inherit;
    -webkit-box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
}

#register {
    padding: 5rem 0;
    position: relative;
    text-align: center;
    font-size: 3rem;
    max-width: unset;
}

.registerGradient {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url(/static/img/footer_gradient__d5jtmfwmiqqa_medium.jpg)
        no-repeat center center;
    background-size: cover;
    width: 100%;
    height: calc(100% + 300px);
    min-height: 100lvh;
}

.registerMask {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(#f5f5f7, transparent);
    width: 100%;
    height: calc(100% + 300px);
    min-height: 100lvh;
}

#register h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

#register a,
.login {
    background: #fbfbfd;
    color: #000;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -0.022em;
    min-width: 30px;
    padding: 7px 15px;
    border-radius: 980px;
    --sk-button-margin-horizontal: 14px;
    --sk-button-margin-vertical: 14px;
}
.login {
    background-color: #000;
    color: #fff;
}
#register a:hover {
    text-decoration: none;
}
footer {
    background-color: #f5f5f7;
    background-color: #e8e8ed;
    padding: 2rem 1rem;
    color: rgb(0, 0, 0, 0.56);
    line-height: 1.5;
}
footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    filter: opacity(0.7);
    height: 2rem;
    transition: filter 0.3s;
}
footer img:hover {
    filter: opacity(1);
}
#top-nav-search-form {
    background-color: #fff;
    border-radius: 500px;
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -0.022em;
    min-width: 30px;
    padding: 7px 15px;
}
#top-nav-search-label {
    display: none;
}
#top-nav-search-label {
    height: 200%;
}
#top-nav-search-input {
    background-color: transparent;
    width: 8rem;
    outline: transparent;
    border: none;
}
#top-nav-search-form button {
    outline: transparent;
    border: none;
    width: 1rem;
    height: 1rem;
}
#top-nav-search-form .search-button {
    background: url(/static/img/search.svg) no-repeat center center / 1rem;
}

#top-nav-search-input:focus + .clear-search-button {
    visibility: visible;
    cursor: pointer;
}

.clear-search-button {
    visibility: hidden;
    margin-right: 0.5rem;
    pointer-events: none;
    background: url(/static/img/x.svg) no-repeat center center / 1rem;
}

@media (max-width: 40rem) {
    #top-nav-search-input {
        width: 0;
    }
    #top-nav-search-form button.clear-search-button {
        width: 0;
        margin-right: 0.5rem;
    }
    #top-nav-search-form {
        padding: 0;
        width: 2rem;
    }
}
