<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include("partials/meta") %>
    <title>找不到頁面 | 學聲 EduVoice</title>
    <meta property="og:url" content="https://eduvoice.emtech.cc/login" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <style>
      h1 {
        font-size: 4rem;
      }
    </style>
  </head>

  <body class="emfont-GenWanMin">
    <%- include("partials/nav") %>
    <header></header>
    <main>
      <h1>404</h1>
      <p>找不到頁面</p>
      <a class="login" href="/">回首頁</a>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
