<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include("partials/meta") %>
        <title>新聞 | 學聲 EduVoice</title>
        <meta property="og:url" content="https://eduvoice.emtech.cc/news" />
        <link rel="stylesheet" href="/static/css/news.css" />
    </head>

    <body class="emfont-GenWanMin">
        <%- include("partials/nav") %>
        <header>
            <div>新聞來自 臺灣青年民主協會 TYAD</div>
            <div class="date">2024 年 8 月 1 日</div>
            <h1>
                新聞：班長集合一次沒到就記警告 學生認為違反比例原則提申訴
                學校撤銷警告
            </h1>
            <div class="hr"></div>
        </header>
        <main>
            <p>
                新竹竹北高中每學期會透過午休時間，召集全校一到三年級各班班長，主要目的為行政事務傳達、發放通知單等，以剛結束的學期為例，竹北高中召開六次的班長集合，為確保班長出席集會，在群組中校方公告「如未事先請假且未找代理人與會者，將依規記警告乙支。」
            </p>
            <p>
                目前就讀竹北高中高二擔任班長的呂同學，因忘記集會日期，且廣播時因環境吵雜未聽到召開班長集會的廣播，而缺席一次班長集會，遭學校依校規記警告一次，呂生認為，「自己擔任班長三個學期，參加超過
                16
                場班長會議，每一次都是使用學生午休、午餐時間，卻因在這個學期任內，缺席了其中一次就被學校記警告處分」。
            </p>
            <p>
                呂同學依法在收到警告處分的 30
                天內提出申訴評議，認為學校規定違反比例原則，且長期利用午休時間集合班長，也影響學生休息的權利。學生提出申訴後，經校方檢視也認同學生主張，主動將警告撤銷，並承諾會修改相關規定。
            </p>
            <h2>班長會議利用午休時間花 40 分鐘發通知單 學生盼有替代方案</h2>
            <p>
                竹北高中長期利用午休時間集合班長宣達行政事項，呂同學認為，「班長座談會僅是發下通知單，宣達校內活動注意事項，卻聚集全年級的班長在午休開會，影響學生午餐時間，也無法利用午休時間充分休息，欠缺開會的必要性。」
            </p>
            <p>
                一位竹北高中高三學生也建議，「可以善用廣播、群組、班級櫃等方式作為替代方案，實在沒必要勞師動眾，每學期多次集合全校班長，只為了發通知，或重複通知上的宣導事項。」
            </p>
            <h2>
                一次會議沒到就被以「擔任幹部不盡責」記警告
                學生提申訴認為記警告違反比例原則
            </h2>
            <p>
                檢視學校記學生警告的條文是以校規中「擔任各級幹部，不負責盡職，影響工作推展」。學生提出申訴理由認為，「學生僅是在本學期一次未出席會議，也在當日利用下課時間領取會議資料，沒有造成實際影響。學生擔任班級幹部是主動為班上服務，校方應先考量其他較輕的輔導管教手段，直接一次未到就記警告有違反比例原則的疑慮。」
            </p>
            <p>
                對於學生提出申訴，學校在申訴說明書中回應，「班長座談會時間已排在行事曆中，本學期第一次班長座談會中，以宣導並於班長群組記事本列出六次班長座談會日期」、「並於辦理當天進行廣播」，校方認為「班長只要事先請假、或請代理人參加會議，就不會被記警告」。
            </p>
            <p>
                不過，校方也認同提出申訴的學生所主張，認為原先一次未到就記警告，有違反比例原則的疑慮，所以校方主動撤銷警告，也會檢討該措施。
            </p>
            <h2>
                肯定校方作為，申訴代理人籲各校全面檢討午休強制學生出席活動的必要性
            </h2>
            <p>
                本次學生委任的申訴代理人陳羿安認為，「樂見校方自行撤銷處分，然申訴僅有個案效力，認為竹北高中應儘速修正現行制度，更應清查有無其他因相同情形受懲處的學生，確保學校行政行為正當、合法，保障學生權益；同時希望各校應就相似制度進行檢討。」
            </p>
            <p>
                代理人李日森則表示，「本案申訴程序中，校方在詳閱申訴理由後，就主動與當事人溝通；同時當事人也在確定處分撤銷後，自行撤回申訴，降低校方不必要的行政負擔；展現了學生與校方的換位思考而非對立衝突，發揮申訴制度的正面功能。」
            </p>
        </main>
        <%- include("partials/footer") %>
    </body>
</html>
