<!-- @format -->

<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <%- include("partials/meta") %>
        <title>登入 | 學聲 EduVoice</title>
        <meta property="og:url" content="https://eduvoice.emtech.cc" />
        <link rel="stylesheet" href="/static/css/login.css" />
    </head>

    <body class="emfont-GenWanMin">
        <%- include("partials/nav") %>
        <header></header>
        <main>
            <h1>請輸入您的電子郵件地址</h1>
            <p>校園或個人電子郵件皆可</p>
            <form action="/oauth" method="post">
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="請輸入您的電子郵件地址"
                    required
                />
                <button
                    type="submit"
                >
                註冊或登入
                </button>
            </form>
        </main>
        <script>
            //添加輸入事件監聽器
            var inputFiled = document.getElementById("email");
            inputFiled.addEventListener("input", function() {
                if (inputFiled.value.length > 0) {
                    //允許按鈕點擊
                    document.querySelector("button").removeAttribute("disabled");
                } else {
                    //禁止按鈕點擊
                    document.querySelector("button").setAttribute("disabled", "disabled");
                }
            });

            const btn=document.querySelector("button");
            btn.addEventListener("click",function(){
                document.querySelector('main').classList.add('slide');
            });
        </script>
        <%- include("partials/footer") %>
    </body>
</html>
